.okrsPanel{
    margin: 0 52px 40px;
    padding: 24px;
    border: 1px solid #C9C6DC;
    border-radius: 6px;
    height: fit-content;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.okrsBoard {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
}

.addOkrs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}


.okrsContainer {
    margin-top: 8px;
}

.okrContainer{
    display: flex;
    flex-direction: column;
}

.okrContainerHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.okrContainerHeaderInput {    
    font-weight: 700 !important;
    border: 0;
    font-size: 20px !important;
    color: #1E1848 !important;
}

.keyResultsContainer{
    margin-bottom: 24px;
}

.keyResultItem{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F1F0F8;
    margin-bottom: 12px;
    align-items: center;
    padding-bottom: 12px;
    gap: 8px;
}

.keyResultItem:first-child{
    border-top: 1px solid #F1F0F8;
    padding-top: 12px;
}

.keyResultItemLeft{
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;
}

.keyResultItemLeftTitle{
    font-size: 16px !important;
    color: #1E1848 !important;
    margin: 0 !important;
}

.keyResultItemLeftDescription{
    margin: 0;
    font-size: 12px !important;
    color: #665Daa !important;
}

.keyResultItemMiddle{
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
}

.keyResultItemMiddleLabel{
    font-size: 12px;
    color: #665Daa;   
}

.keyResultItemMiddleAtg{
    margin: 0;
    font-size: 16px;
    color: #1E1848;
}


.keyResultItemRight > button{
    flex: 0 0 5%;
    color: #f1388D !important;
    min-width: unset !important;
}

.keyResultItemRight > button:hover{
    background-color: #feecf4 !important;
}

.okrsGraph {
    flex: 0 0 55%;
}

.graphicBoardGraphContainer{
    height: 100%;
}

.graphicBoardBtn > span{
    display: none !important;
}

.moreDetailsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    width: 0.01rem;
    height:10rem;
    display: flex;
    direction: row;
    top: 0;
    background: #c9c6dc;
    border: none;
    margin: 0%;
}

.addOkrBtn {
    display: inline-flex;
    justify-content: flex-start !important;
    color:#F1388D !important;
    border-color: #FBC4DD !important;
    color:#F1388D !important;
    text-transform:none !important;
    font-size: 10px !important;
    font-family:"Plus Jakarta Sans" !important;
}

.addOkrBtn span{
    padding-right: 8px
}


@media (max-width: 1024px){
    .okrsPanel{
        flex-direction: column;
        margin: 24px;
        border: 0;
        padding: 0;
    }

    .okrsBoard{
        width: 100%;
    }

    .okrsGraph{
        display: none;
    }

    .okrContainerHeader{
        gap: 8px;
    }

    .addOkrBtn > p{
        font-size: 8px;
    }

    .addOkrBtn > span{
        margin-right: 0;
        padding-right: 4px;
    }

    .keyResultItem{
        gap: 16px;
    }

    .keyResultItemLeft{
        flex: 0 0 60%;
    }
}
