.skillsPanel{
    margin: 0 52px 40px;
    padding: 24px;
    border: 1px solid #C9C6DC;
    border-radius: 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Plus Jakarta Sans';
}

.skillsBoard {
    width: 45%;
}

.skillsBoard h2{
    margin: 0;
    margin-bottom: 24px;
}

.skillsBoardForm{
    display: flex;
    flex-direction: row;
    gap: 24px;

}

.skillsBoardForm .input-group{
    flex: 1;
}

.skillsBoardFormError{
    color: red;
    font-size: 12px;
    margin: 0;
}

.skillsBoardFormButton{
    height: 40px;
    padding: 8px 12px !important;
    border-color: #fbc4dd !important;
}

.skillsBoardFormButton p{
    color: #f1388D !important;
    font-size: 12px !important;
    text-transform: none !important;
}

.skillsBoardFormButton svg {
    color: #f1388D !important;
    font-size: 18px;
}

.skillsBoardFormButton:hover{
    border-color: #f1388D !important;
    background-color: white !important;
}

.skillsBoardList{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.skillsBoardListItem:first-child{
    border-top: 1px solid #F1F0F8;
}

.skillsBoardListItem{
    display: flex;
    align-items: center;
    border-bottom : 1px solid #F1F0F8;
}

.skillsBoardListItemLeft{
    flex: 0 0 70%;
    margin-right: auto;
}
.skillsBoardListItemMiddle{
    flex: 0 0 10%;
}
.skillsBoardListItemRight{
    flex: 0 0 5%;
}

.skillsBoardListItemInputName{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    border: none;
    outline: none;
}

.skillsBoardListItemInputScore{
    width: 100%;
    color: #F1388D;
    font-weight: 700;
    border: none;
    outline: none;
}

.skillsBoardListItem button{
    flex: 0 0 10%;
}

.skillsBoardListItem button {
    color: #f1388D !important;
    min-width: unset !important;
}

.skillsBoardListItem button:hover {
    background-color: #feecf4 !important;
}

.graphicSkillsBoard {
    width: 45%;
    max-height: 400px;
}

@media (max-width: 1024px){
    .skillsPanel{
        flex-direction: column;
        margin: 24px;
        border: 0;
        padding: 0;
    }

    .skillsBoard{
        width: 100%;
    }

    .graphicSkillsBoard{
        display: none;
    }
}