/* como não temos outros menus ainda, eu removi o .navigationBtn:hover,.navigationBtn:focus, deixando apenas o active. Quando criar outras páginas, voltar as duas pseudo classes */
ol, li {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    padding: 5px 0 5px 0;
}

aside {
    width: 15.9rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    direction: row;
    padding-right: 16px;
    background-color: white;
    height: 100vh;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container {
    padding: 16px;
    left: 0px;
    top: 0px;
}

.containerLogo{
    margin-bottom: 16px;
    margin-left: 8px;
    max-width: 130px;
}

header{
    overflow: hidden;
}

.menuitem {
    display: flex;
    flex-direction: row;

}

.headerName {
    color: #1E1848;
    font-size: 24px;
    border: none;
    outline: none;
    font-weight: 700;
    width: 100%;
    padding: 8px;
}

.headerName:hover{
    background-color: #c9c6dc1e;
}

.headerEmail {
    color:#665DAA;
    padding: 8px;
}
.headerEmail, .headerEmail {
    justify-content: left;
    font-family:"Plus Jakarta Sans"
}

.textbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigationBtn {
    width: 240px;
    display: flex;
    color:black !important;
    justify-content: flex-start !important;
    padding: 9px;
}

.navigationBtn p {
    font-weight:700 !important;
    font-size: 14px !important;
    text-transform:none !important;
    line-height: 160% !important;
}

.active{
   background-color:#FEECF4 !important;
   color:#C71760 !important;
}

.navigationBtn span {
    margin: 0;
    padding-right: 33px;
}

.menu-icon{
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 32px !important;
}

.menu-overlay{
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.menu-overlay.isOpen{
    display: unset;
}

@media (max-width: 1024px){
    aside{
        position: absolute;
        left: -20rem;
        transition: ease-in-out 0.5s all;
    }

    aside.isOpen{
        left: 0;
    }

    .container{
        z-index: 1;
        background-color: white;
    }
}
