.personalInfoContainer{
    display: flex;
    flex-direction: row;
}

.avatarContainer {
    margin: 10px;
    background-color: unset !important;
    border: none !important;
    cursor: pointer;
    position: relative;
}

.iconCamera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none !important;
}

.avatarContainer:hover .iconCamera{
    display: block !important;
}

.avatarContainer:hover .iconAvatar{
    opacity: 0.5;
}

.colaboratorInfo {
    padding: 0 8px !important;
    border-radius: 5px !important;
}


.colaboratorInfo input{
    padding: 0 !important;
}

.colaboratorInfo input:hover{
    background-color: #c9c6dc1e !important;
    text-decoration: none !important;
}

.colaboratorDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.colaboratorDetailsRow{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.colaboratorDetailsRow.marginTop{
    margin-top: 12px;
}

.personalInfoDetails {
    font-family: 'Plus Jakarta Sans';
    padding: 24px;
    min-width: 300px;
}

.personalInfoDetails p{
    margin-bottom: 5px;
}

.personalInfoDetails:hover .personalInfoDetails:hover input{
    background: #c9c6dc1e !important;
    cursor: pointer;
}

.personalInfoDetails:hover input {
    text-decoration: underline;
}

.skillSetSelect{
    outline: none !important;
    border: 1px solid white !important;
    color: #4E4E65 !important;
    font-size: 20px;
    background: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.06 0.530273L4 3.58361L0.94 0.530273L0 1.47027L4 5.47027L8 1.47027L7.06 0.530273Z" fill="%234E4E65"/></svg>') no-repeat;
    background-position: calc(0%) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-left: 14px;
    height: 100%;
    text-shadow: 0 1px 0 #4E4E65;
}

.skillSetSelect option{
    /* color */
    background: #fff;
}


@media (max-width: 1024px){
    .ledInfos{
        padding: 0;
        margin-top: 24px;
    }

    .personalInfoContainer{
        flex-direction: column;
    }

    .avatarContainer{
        margin: 0;
    }
    
    .avatarContainer > div{
        margin: 0 auto;
    }
    
    .colaboratorDetails{
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .colaboratorInfo{
        padding: 6px 0;
        width: 45%;
    }

    .colaboratorInfo > div{
        font-size: 12px !important;
    }
}